<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944506985263-9jl8td9fasng7h42i63298enrleisbqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944506985263-9jl8td9fasng7h42i63298enrleisbqc</string>
	<key>API_KEY</key>
	<string>AIzaSyCccAwOaTMDGUby077uHE7IC59VQAJdwzA</string>
	<key>GCM_SENDER_ID</key>
	<string>944506985263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterung.notiandchat</string>
	<key>PROJECT_ID</key>
	<string>notiandchat</string>
	<key>STORAGE_BUCKET</key>
	<string>notiandchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944506985263:ios:cb006df35f4b41349a1fda</string>
</dict>
</plist>